/*helper*/
@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon_light-webfont.woff2') format('woff2'),
         url('../fonts/brandon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('../fonts/brandon_blk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.triangulo-equilatero-bottom {
     width: 0;
     height: 0;
     border-right: 100px solid transparent;
     border-top: 100px solid transparent;
     border-left: 100px solid transparent;
     border-bottom: 100px solid #f0ad4e;
}
.vertical-align{
  display:flex;
  flex-direction:row;
}
.vertical-align > [class^='col-'], .vertical-align > [class*='col-']{
  display:flex;
  align-items:center;
  justify-content:center;
}
/*header images*/
.wrapper .header_images{

}
.wrapper .header_images .img_1 img{
  width: 84%;
}
.wrapper .header_images .img_2 img{
  width: 100%;
  margin-top: 20px;
}
.wrapper .header_images .img_3 img{
  width: 80%;
}
.wrapper .header_images .img_4 img{
  width: 40%;
}


/*header bar*/
.wrapper .header_bar{
  background-color:#f3f3f5;
}

.wrapper .header_bar .bar_content{
  height:44px;
  text-align:center;
}

.wrapper .header_bar .bar_content .text_free{
  font-size:18px;
  color:#333333;
  padding:10px 20px;
  display:inline-block;
}

.wrapper .header_bar .bar_content .text_free span{
  font-size:18px;
  color:#808080;
}
/*nav*/
.wrapper .nav{
  background-color:#1C2D61;
  height:34px;
  -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  text-align:center;
  border-top:0;
  border-left:0;
  border-right:0;
}
.wrapper .nav ul li{
  list-style:none;
  padding:7px 20px;
  display:inline-block;
}
.wrapper .nav ul li a{
  font-size:14px;
  color:#FFFFFF;
  text-decoration:none;
}
.wrapper .nav ul li:hover a{
  color:#FADC2F;
}
/*carousel*/
.wrapper #carousel-1 .carousel-inner .slider_header_one img{
  width:100%;
}
.wrapper #carousel-1 .carousel-inner .slider_header_one  .slider_boton_v{
  padding: 10px 20px;
  background-color: #E6E6E6;
  color: black;
  border-radius: 10px;
  position: absolute;
  top: 49%;
  left: 14%;
  text-decoration: none;
}
.wrapper #carousel-1 .carousel-inner .slider_header_one .text_box{
  position: absolute;
  top: 32%;
  left: 0;
  color: black;
  text-align: left;
  background-color: #E6E6E6;
  width: 25.19%;
  height: 116px;
  padding-right: 10px;
}
.wrapper #carousel-1 .left img{
  position: absolute;
  top: 36.5%;
  left: 23%;
}
.wrapper #carousel-1 .right img{
  position: absolute;
  top: 36.5%;
  right: 23%;
}
.wrapper #carousel-1 .carousel-inner .slider_header_one .text_box div{
  position: absolute;
  right: 0px;
  width: 34%;
}
.wrapper #carousel-1 .carousel-inner .slider_header_one .text_box div p{
  line-height: 1;
}

.wrapper #carousel-1 .carousel-inner .slider_header_one .text_box img{
  width: 25%;
  position: relative;
  top: 37%;
  left: 34%;
}


/*footer*/
.footer{
  background-image:url(../../assets/img/footer_bg.png);
  background-repeat:no-repeat;
  background-position:center;
  padding-top:30px;
  padding-bottom:20px;
}

.footer .footer_title{
  font-size:18px;
  color:#FFFFFF;
}

.footer p{
  font-size:11px;
  color:#FFFFFF;
}

.footer p span{
  font-size:11px;
  color:#FFFFFF;
  font-weight:bold;
}

.footer span img{
  margin-left:-20px;
  margin-right:-5px;
}


/*section categories*/
.wrapper .categories{
  position: relative;
  background-color: #1c2d56; 
  height: auto;
  padding-bottom: 5px;
}
.wrapper .categories .linea{
  width: 100%;
    -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  margin-top: 50px;

}
.wrapper .categories:before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  height: 100%;
  width: 51%;
  background: #1c2d56;
  -webkit-transform: skew(0deg, 15deg);
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -o-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
}
.wrapper .categories .lines:before {
  content: '';
  position: absolute;
  top: -120px;
  left: 0;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-transform: skew(0deg, 15deg);
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -o-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
  -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;

}
.wrapper .categories:after {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  height: 100%;
  width: 50%;
  background: #1c2d56;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
}

.wrapper .categories .lines:after {
  content: '';
  position: absolute;
  top: -120px;
  right: 0;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
  -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
}
.wrapper .categories #carousel-2{
  z-index: 20;
}
.wrapper .categories #carousel-2 .carousel-inner{
  overflow: visible;
}
.wrapper .categories .logo_category{
    text-align: center;
    margin-left: 70px;
    margin-bottom: 50px;
}
.wrapper .categories #carousel-2 .item .list,
.wrapper .categories #carousel-2 .item .content {
  display: inline-block;
  vertical-align: top;
}
.wrapper .categories #carousel-2 .item .list{
  width: 60%;
  color: #FFFFFF;
  text-align: center;
  margin-top: 10px;
  font-size: 17px;
}
.wrapper .categories #carousel-2 .item .list .active{
  color: #FFFFFF;
  font-weight: bold;
}
.wrapper .categories #carousel-2 .item .content{
  width: 30%;
  background-image: url('../img/triangle_background_trophies.png');
  background-size: 70%;
  background-repeat: no-repeat;
  height: 330px;
  margin-top: -7%;
  margin-left: -6%;
}
.wrapper .categories #carousel-2 .item .content .content_bottom{
  position: absolute;
  bottom: -10%;
  right: 30%;
  color: #ffffff;
  text-align: center;
}
.wrapper .categories #carousel-2 .item .content .content_bottom p{
  font-size: 16px;
  font-weight: bold;
}
.wrapper .categories #carousel-2 .item .content .content_bottom a{
  display: block;
  text-decoration: none;
  border: solid white 1px;
  border-radius: 50px;
  color: #ffffff;
  padding: 5px 30px;
}
.wrapper .categories #carousel-2 .item .content img{
  width: 51%;
  margin-left: 10%;
}
.wrapper .categories #carousel-2 .left{
  position: absolute;
  top: -15%;
  left: 22.5%;
  height: 0px;
}
.wrapper .categories #carousel-2 .left img{
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.wrapper .categories #carousel-2 .right{
  position: absolute;
  top: 100%;
  left: 22.5%;
  height: 0px;
}

/*feee*/

.wrapper .fee .fee_text{
  margin-top: 13%;
  padding-right: 60px;
}
.wrapper .fee .fee_text h3{
  color: #1C2D56;
  font-family: 'brandon_grotesquemedium', Arial;
}
.wrapper .fee .fee_text h3 strong{
  color: #1C2D56;
  font-size: 33px;
  font-family: 'brandon_grotesqueblack', Arial;
}
.wrapper .fee .fee_text p{
  color: #666666;
  font-size: 26px;
  font-family: 'brandon_grotesquelight', Arial;
}
.wrapper .fee .fee_text a{
  display: block;
  margin: 0 0 auto auto;
  padding: 5px 10px;
  background-color: #1C2D56;
  color: #ffffff;
  width: 124px;
  text-align: center;
  border-radius: 7px;
}
.wrapper .fee .fee_img img{
  width: 100%;
}

/*slider 3*/
.wrapper .slider-3{
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-bottom: 70px;
}
.wrapper .slider-3 #carousel-3{
  text-align: center;
}
.wrapper .slider-3 .carousel-showmanymoveone .carousel-control {
  width: 4%;
  background-image: none;
}
.wrapper .slider-3 .carousel-showmanymoveone .carousel-control.left {
  margin-left: -5%;
}
.wrapper .slider-3 .carousel-showmanymoveone .carousel-control.right {
  margin-right: 15px;
}
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-1,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-2,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-3 {
  display: none;
}
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-1 h3,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-2 h3,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-3 h3 {
  margin-left: -20%;
  font-family: 'brandon_grotesquelight', Arial;
}
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-1 img,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-2 img,
.wrapper .slider-3 .carousel-showmanymoveone .cloneditem-3 img{
  width: 80%;
}
.wrapper .slider-3 .carousel-showmanymoveone .item img{
  width: 80%;
}
}
.wrapper .slider-3 .carousel .item .title{
  margin-left: -20% !important;
  font-family: 'brandon_grotesquelight', Arial;
}


.wrapper .slider-3 .carousel-control {
    top: 50%;
  }
.wrapper .plaques{
  background-color: black;
  padding-bottom: 50px;
}
.wrapper .plaques .trofeo img{
  width: 90%;
}
.wrapper .plaques .logo img{
  width: 60%;
  position: absolute;
  top: 30%;
  right: 0%;
}
.wrapper .plaques .logo a{
  display: block;
  position: absolute;
  top: 62%;
  color: #4D281E;
  right: 18%;
  background: url('../img/plaques/shop_now_plaques.png');
  padding: 7px 17px;
  background-repeat: no-repeat;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.wrapper .plaques .logo a:hover{
  background: url('../img/plaques/shop_now_plaques_hover.png');
  background-repeat: no-repeat;

}

/*testimonios*/
.wrapper .testimonios{
  height: auto;
  position: relative;
  padding-bottom: 5px;
}
.wrapper .testimonios .content_testimonios{
  position: absolute;
  width: 100%;
  top: 3%;
  background-image: url('../img/testimonials_bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  z-index: 40;

}
.wrapper .testimonios:before {
  content: '';
  position: absolute;
  top: -100px;
  left: 0;
  height: 100%;
  width: 51%;
  background: url('../img/before.png');
  background-size: 107%;
  -webkit-transform: skew(0deg, 15deg);
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -o-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
  z-index: 10;
}
.wrapper .testimonios .lines:before {
  content: '';
  position: absolute;
  top: -90px;
  left: 0;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-transform: skew(0deg, 15deg);
  -moz-transform: skew(0deg, 15deg);
  -ms-transform: skew(0deg, 15deg);
  -o-transform: skew(0deg, 15deg);
  transform: skew(0deg, 15deg);
  -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  z-index: 20;

}
.wrapper .testimonios:after {
  content: '';
  position: absolute;
  top: -100px;
  right: 0;
  height: 100%;
  width: 50%;
  background: url('../img/after.png');
  background-size: 107%;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
  z-index: 9;

}

.wrapper .testimonios .lines:after {
  content: '';
  position: absolute;
  top: -90px;
  right: 0;
  height: 100%;
  width: 50%;
  background: transparent;
  -webkit-transform: skew(0deg, -15deg);
  -moz-transform: skew(0deg, -15deg);
  -ms-transform: skew(0deg, -15deg);
  -o-transform: skew(0deg, -15deg);
  transform: skew(0deg, -15deg);
  -ms-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -o-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  -webkit-border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image:url(../../assets/img/linea_dorada_category.png) 30 round;
  border-image-repeat: initial;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  z-index: 20;
}
.wrapper .testimonios .content_slider{
  background-image: url("../img/testimonials_triangle.png");
  background-size: 100%;
  background-repeat: no-repeat;
}




@media all and (min-width: 768px) {
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .prev {
    left: -50%;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .next {
    left: 50%;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .prev.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
    display: block;
  }
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(50%, 0, 0);
            transform: translate3d(50%, 0, 0);
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}
@media all and (min-width: 992px) {
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .prev {
    left: -25%;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .next {
    left: 25%;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .prev.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .active {
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner .cloneditem-2,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
    display: block;
  }
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.next {
    -webkit-transform: translate3d(25%, 0, 0);
            transform: translate3d(25%, 0, 0);
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.prev {
    -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);
    left: 0;
  }
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.left,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.prev.right,
  .wrapper .slider-3 .carousel-showmanymoveone .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    left: 0;
  }
}